.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
  color: white;
  height: 50px;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}