.login-backgound {
  background-image: url('../../assets/marvel.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}